@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --popup: #eb9cde;
    --primary-purple: #858ae3;
    --primary-yellow: #f8de8c;
    --morandi-pink: #cf729a;
    --morandi-woody-pink: #fbada6;
    --morandi-beige: #f1d3c7;
    --morandi-blue: #aad5ed;
    --morandi-green: #bfb232;
    --morandi-orange: #ff8901;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #1e4034; */
        --background: #171717;
        --foreground: #ededed;
        --popup-green-100: #127754;
        --popup-green-200: #1e4034;
        --popup: #eb9cde;
        --primary-purple: #858ae3;
        --primary-yellow: #f8de8c;
        --secondary-yellow: #ffeeb0;
        --morandi-pink: #cf729a;
        --morandi-woody-pink: #fbada6;
        --morandi-beige: #f1d3c7;
        --morandi-blue: #aad5ed;
        --morandi-green: #bfb232;
        --morandi-orange: #ff8901;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
